<div class="row mb-5">
  <div class="col-10">
    <h1>Editing Article</h1>
  </div>
</div>

<%= render 'form', article: @article %>

<div class="btn-group btn-group-sm mt-5" role="group">
  <%= link_to 'Show', @article, class: "btn btn-secondary" %>
  <%= link_to 'Back', articles_path, class: "btn btn-secondary" %></td>
</div>
